[submodule "dependencies/union/union-api"]
	path = dependencies/union/union-api
	url = https://github.com/gothicuef/union-api.git
[submodule "dependencies/union/gothic-api"]
	path = dependencies/union/gothic-api
	url = https://github.com/gothicuef/gothic-api.git
